h1 {
  font-size: 50px;
}
p {
  font-size: 20px;
}
li {
  font-size: 18px;
}
#code {
  background-color: antiquewhite;
  width: 300px;
}

span {
  font-weight: bold;
}

div {
  padding-bottom: 10px;
}
td {
  padding: 8px;
}
body {
  background-color: rgba(240, 213, 213, 0.2);
  margin: 0 auto;
  width: 100%;
}

.info_block {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.container {
  margin: 30px auto;
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add {
  display: flex;
}

.summary, .experience, .add, .education, .english {
  width: 100%;
  border-bottom: 2px solid black;
}

.education {
  padding-bottom: 20px;
}

img {
  margin-right: 30px;
}

.skills {
  margin-right: 100px;
}